text {
	font-size: 8px;
	font-family: verdana;
	font-weight: bold;
	cursor: default;
	pointer-events: none;
}

.title {
	font-size: 12px;
	fill: #000000;
	text-anchor: middle;
}

/* Pie Chart */
#pie .slice-text {
	fill: #ffffff;
}

.arc path {
	stroke:none;
}