body {
  margin:0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: Verdana;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 17px;
}